src/lesson14/library/customers.xsd

<?xml version="1.0"  standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="customers.xsd">
    <element name="customers">
        <complexType>
            <sequence>
                <element name="customer" maxOccurs="unbounded">
                    <complexType>
                        <sequence>
                            <element name="name">
                                <simpleType>
                                    <restriction base="string">
                                        <maxLength value="40"/>
                                    </restriction>
                                </simpleType>
                            </element>
                            <element name="amount" type="integer"/>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>